# yaml-language-server: $schema=https://json.schemastore.org/clang-format.json
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
